jax==0.4.16
jaxlib==0.4.16
flax==0.6.11
optax==0.1.7
jaxopt==0.8.1
brax==0.9.2
chex==0.1.8

autopep8
ipdb
myst-parser
codespell
sphinx-autobuild
isort~=5.0
sphinx~=5.1.1
sphinx-autodoc-typehints~=1.19.1
sphinx-rtd-theme~=1.0.0
sphinxcontrib-napoleon==0.7
furo==2022.6.21
# latest==2022.6
sphinx-copybutton==0.5.0
sphinx-github-changelog~=1.2.0
myst-nb==0.16.0
ipykernel~=6.15.2
pandas

